.jumbotron {
    color: white;
    background-image: url("https://www.imindq.com/Portals/0/EasyDNNnews/273/img-book-mind-mapping.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}
#footer {
    padding: 20px;
    background-color: rgb(179, 179, 179);
}
